<!DOCTYPE html>
<html>
  <head>
    <title>Slackr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.sessionForm__slackLogo = "<%= image_url('slack_logo-ebd02d1.svg') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
