<!DOCTYPE html>
<html>
  <head>
    <title>Slacker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined">

    <script type="text/javascript">
      window.sessionForm__slackLogo = "<%= image_url('slack_logo.svg') %>";
      window.sessionForm__slackLogoWhite = "<%= image_url('slack_logo_white.svg') %>";
      window.sessionForm__slackLogoBlack = "<%= image_url('slack_logo_black.svg') %>";
      window.sessionForm__googleLogo = "<%= image_url('google_g_logo.svg') %>";
      window.splash__billboardHero2 = "<%= image_url('splash-billboard-hero-2.png') %>";
      window.splash__companies_01 = "<%= image_url('splash_companies_01_airbnb.png') %>";
      window.splash__companies_02 = "<%= image_url('splash_companies_02_spotify.png') %>";
      window.splash__companies_03 = "<%= image_url('splash_companies_03_uber.png') %>";
      window.splash__companies_04 = "<%= image_url('splash_companies_04_netflix.png') %>";
      window.splash__companies_05 = "<%= image_url('splash_companies_05_nasa.png') %>";
      window.splash__companies_06 = "<%= image_url('splash_companies_06_ameritrade.png') %>";
      window.splash__companies_07 = "<%= image_url('splash_companies_07_target.png') %>";
      window.splash__companies_08 = "<%= image_url('splash_companies_08_intuit.png') %>";
      window.splash__companies_09 = "<%= image_url('splash_companies_09_time.png') %>";
      // window.splash__content_01 = "<%= image_url('splash_c_section_01.jpeg') %>";
      // window.splash__content_02 = "<%= image_url('splash_c_section_02.mp4') %>";
      // window.splash__content_03 = "<%= image_url('splash_c_section_03.mp4') %>";
      // window.splash__content_04 = "<%= image_url('splash_c_section_04.mp4') %>";
      window.splash__content_01_v2 = "<%= image_url('splash_c_section_01_v2.webm') %>";
      window.splash__content_02_v2 = "<%= image_url('splash_c_section_02_v2.webm') %>";
      window.splash__card_01 = "<%= image_url('splash_card_01.jpeg') %>";
      window.splash__card_02 = "<%= image_url('splash_card_02.jpeg') %>";
      window.splash__card_03 = "<%= image_url('splash_card_03.jpeg') %>";
      window.splash__card_04 = "<%= image_url('splash_card_04.jpeg') %>";
    </script>
  </head>

  <body>

    <%= yield %>
  </body>
</html>
